<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Brainstorming Session</title>
    <link rel="shortcut icon" href="images/brain.png" type="image/png" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link  href="css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
</head>
<body>
<div class="alert alert-success text-center">
    <strong>All Brainstorming Sessions</strong>
</div>
<div class="container">
    <h5>Add~Edit Brainstorming Session</h5>
    <form action="#" th:action="@{/session/addEdit}" method="post" th:object="${session}">
        Title:
        <br/>
        <input type="text" class="form-control" id="title" th:field="*{title}" placeholder="Title" required/>
        <br/>
        Date:
        <br/>
        <input type="date" class="form-control" id="date" th:field="*{date}" placeholder="Date" required/>
        <br/>
        Time:
        <br/>
        <input type="text" class="form-control" id="time" th:field="*{time}" placeholder="Time" required/>
        <br/>
        Client 1:
        <br/>
        <input type="text" class="form-control" id="client1" th:field="*{client1}" placeholder="Client 1" required/>
        <br/>
        Client 2:
        <br/>
        <input type="text" class="form-control" id="client2" th:field="*{client2}" placeholder="Client 2" required/>
        <br/>
        Client 3:
        <br/>
        <input type="text" class="form-control" id="client3" th:field="*{client3}" placeholder="Client 3" required/>
        <br/>
        Session Link:
        <br/>
        <input type="text" class="form-control" id="link" th:field="*{link}" placeholder="Session Link" required/>
        <br/>
        <input type="hidden" id="id" th:field="*{id}">
        <br/>
        <button type="submit" class="btn btn-info">Submit</button>
    </form>
</div>
</body>
</html>