<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf example</title>
    <link rel="shortcut icon" href="images/brain.png" type="image/png" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
</head>
<body>
<div class="alert alert-success text-center">
    <strong>All Activities</strong>
</div>
<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Priority</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="activity : ${activities}">
            <td th:text="${activity.id}"></td>
            <td th:text="${activity.title}"></td>
            <td th:text="${activity.description}"></td>
            <td th:text="${activity.priority}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>