<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="css/css.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="js/js.js"></script>
</head>

<body class="body">
  <div class="navbar">
    <span style="font-size:30px;cursor:pointer" onclick="toggleNav()">&#9776; </span>
  </div>
  <div id="main">
    <br>
    <img class="photo" src="images/1.png" width="80" height="80">
    <h2 style="margin-left: 150px; margin-top: -80px;">Dashboard</h2>
    <h6 style="margin-top: -20px; margin-left: 150px;">Admin Detail</h6>
    <br />
     <span>Manage Clients</span>
    <div id="table1" >
     
   <a href="/client/list"> <button class="buttonbig button1">Client Details</button> </a>
     <a href="/admin/activity/list"> <button class="buttonbig button1">Client Activity</button></a>
    <a href="/session/list">  <button class="buttonbig button1">Activity For Brainstorming</button></a>
  </div>
  <br>
  <br>
  <br>
   <span>Register Client & Chat</span>

    <div id="table1" >
     
    <a href="/register">  <button class="buttonbig button1">ADD Client</button></a>
    <a href="/index">  <button class="buttonbig button1">Chat</button></a>
  </div>
  
    <script type="text/javascript" src="js/form.js"></script>
    <br>


  </div>
  

  <div id="mySidenav" class="sidenav">
    <a href="/Admin-Dashboard">Dashboard</a>
   <a href="/session/list">Brainstorming Session</a>
    <a href="/admin/activity/list">Client Activities</a>
   <a href="/client/list">Client Details</a>
    <a href="/register">Register Client</a>
 
    <a href="login">Logout</a>
  </div>
</body>

