<html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="Jatin" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <title>Network-based Brainstorming System</title>
<!--

ART FACTORY

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="css/homebootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/templatemo-art-factory.css">
    <link rel="stylesheet" type="text/css" href="css/owl-carousel.css">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo"></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#welcome" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#about">About</a></li>
                            <li class="scroll-to-section"><a href="#services">Services</a></li>
         
                            <li class="scroll-to-section"><a href="#contact-us">Contact Us</a></li>
                            <li class="scroll-to-section"><a href="\login">Login</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <br>
    <br>
    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <h1>Welcome to Network-based  <strong>Brainstorming System</strong></h1>
                        <br>
                        <p>Brainstorming a group problem-solving technique that involves the spontaneous contribution of ideas from all members of
                            the group. It is also generally understood to be a technique where every idea, no matter how outside-the-box, is
                            encouraged and the more ideas that are generated, the better</p>
                        <a href="#about" class="main-button-slider">Find Out More</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                        <img src="images/slider-icon.png" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->


    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="images/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix">
                    <div class="left-heading">
                        <h5>About Portal</h5>
                    </div>
                    <div class="left-text">
                        <p>Brainstorming, and Multi-voting are approaches for generating, categorizing, and choosing among ideas from a group of
                            people. Using these techniques encourages every person within the group to contribute, instead of just one or two. They
                            spark creativity in group members as they listen to the ideas of others and generate a substantial list ofideas, rather
                            than just the few things that first come to mind. Finally, the techniques allow a group of people to choose among ideas
                            or options thoughtfully.
                           
                           <br>
                           <br> 
                            <a href="#about2" class="main-button">Discover More</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->


    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about2">
        <div class="container">
            <div class="row">
                <div class="left-text col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix">
                    <div class="left-heading">
                        <h5>Brainstorming Session</h5>
                    </div>
                    <p>A brainstorming session is a tool for generating as many ideas or solutions as possible to a problem or issue.</p>
                    <ul>
                        <li>
                            <img src="images/about-icon-01.png" alt="">
                            <div class="text">
                                <h6>Easy To Use</h6>
                                <p>The web app is made with latest technologies and easy to use and anyone can use it on mobile phone also.</p>
                            </div>
                        </li>
                        <li>
                            <img src="images/about-icon-02.png" alt="">
                            <div class="text">
                                <h6>Security</h6>
                                <p>This system is highly secure and we have used various encryption to ensure the security of data of data of the clients</p>
                            </div>
                        </li>
                       
                    </ul>
                </div>
                <div class="right-image col-lg-7 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <img src="images/right-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->


    <!-- ***** Features Small Start ***** -->
    <section class="section" id="services">
        <div class="container">
            <div class="row">
                <div class="owl-carousel owl-theme">
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="images/service-icon-01.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Administrator </h5>
                        <p>The Administrator setup will have the connect to all the client pages where each client will get
                            the authorization and authentication process done through it.</p>
                        <a href="#" class="main-button">Read More</a>
                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="images/service-icon-02.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Facilitator</h5>
                        <p>Each activity will be reviewed by the administrator for approval of rejection of the process or any activity.....
                            .............................................................. </p>
                        <a href="#" class="main-button">Discover More</a>
                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="images/service-icon-03.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Client</h5>
                        <p>Multiple clients will have a connect to the administrator and will be consisting of individual
                            login pages where they will have to validate themselves.</p>
                        <a href="#" class="main-button">More Detail</a>
                    </div>
                   
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Small End ***** -->




    <!-- ***** Contact Us Start ***** -->
    

    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <p class="copyright">Copyright &copy; 2020 
                
                . Design: Jatin <a rel="nofollow" href=""></a></p>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery -->
    <script src="js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="js/homepopper.js"></script>
    <script src="js/homebootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="js/owl-carousel.js"></script>
    <script src="js/scrollreveal.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imgfix.min.js"></script> 
    
    <!-- Global Init -->
    <script src="js/homecustom.js"></script>

  </body>
</html>