<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
    />
    <title>Password Recovery</title>
    <link rel="icon" type="image/x-icon" href="images/brain.png" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito:400,600,700"
    />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/plugins.css" />
    <link rel="stylesheet" href="css/authentication/form-1.css" />
  </head>

  <body class="form">
    <div class="form-container">
      <div class="form-form">
        <div class="form-form-wrap">
          <div class="form-container">
            <div class="form-content">
              <h1 class="">Password Recovery</h1>
              <p class="signup-link">
                Enter your email and instructions will sent to you!
              </p>
              <form class="text-left" id="reset-form">
                <div class="form">
                  <div id="email-field" class="field-wrapper input">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-at-sign"
                    >
                      <circle cx="12" cy="12" r="4"></circle>
                      <path
                        d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"
                      ></path>
                    </svg>
                    <input
                      id="reset-email"
                      name="email"
                      type="email"
                      placeholder="Email"
                      required
                    />
                  </div>
                  <div class="d-sm-flex justify-content-between">
                    <div class="field-wrapper">
                      <button id="reset" type="submit" class="btn btn-primary">
                        Reset
                      </button>
                    </div>
                  </div>
                </div>
              </form>
              <p class="terms-conditions">
                © 2020 All Rights Reserved.
                <a href="#">Brainstorm</a> Cookie Preferences,
                <a href="#">Privacy</a>, and <a href="#">Terms</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="form-image">
        <div class="c-image"></div>
      </div>
    </div>

    <div id="myModal" class="modal-1" style="z-index: 500000000000">
      <!-- Modal content -->
      <div class="modal-content-1">
        <span class="close-1">&times;</span>
        <p id="error"></p>
      </div>
    </div>

    <script src="js/libs/jquery-3.1.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/authentication/reset.js"></script>
  </body>
</html>
